name: test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: 'aureliojargas/clitest'
          path: bin
      - run: PATH=$GITHUB_WORKSPACE/bin/:$PATH ./run-tests.zsh
        shell: zsh {0}
  test-ubuntu:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: 'aureliojargas/clitest'
          path: bin
      - run: sudo apt install zsh
      - run: PATH=$GITHUB_WORKSPACE/bin/:$PATH ./run-tests.zsh
        shell: zsh {0}
